.App {
    font-family: Josefin;
    width: 1040px;
    margin: 0 auto;
    color: white;
}

button {
    font-family: Josefin;
}

body::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.3);
    border-radius: 23px;
}

body::-webkit-scrollbar-thumb {
    background-color: #e0caaf;
    border-radius: 23px;
}

input[type="text"]:focus {
    outline: none;
    border: 3px solid #F2BC79 !important;
}

@media screen and (max-width: 425px) {
    .App {
        width: 100%;
    }
}