.logo-text {
    font-size: 36px;
    color: #F2BC79;
}

.header-nav {
    display: flex;
}

.header-nav a {
    font-size: 25px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    transition: .5s;
    border-radius: 24px;
}

.header-nav a:hover {
    padding: 8px 12px 6px 12px;
    margin: -8px 8px -6px 8px;
    color: #353535;
    background-color: #F2BC79;
    border-radius: 24px;
}

.create-account-btn img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(116deg) brightness(103%) contrast(101%);
    transition: .3s;
}

.create-account-btn img:hover {
    filter: invert(83%) sepia(36%) saturate(713%) hue-rotate(326deg) brightness(99%) contrast(92%);
}

.logout-btn img:hover {
    filter: invert(83%) sepia(36%) saturate(713%) hue-rotate(326deg) brightness(99%) contrast(92%);
}

.logout-btn {
    background: transparent;
    border: none;
    display: none;
}

.logout-btn img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(116deg) brightness(103%) contrast(101%);
    transition: .3s;
}

@media screen and (max-width: 425px) {
    .logo-text {
        margin: 0 0 0 15px;
    }

    .logout-btn {
        display: block;
    }

    .create-account-btn img {
        width: 30px;
        height: 30px;
    }

    .logout-btn img {
        width: 30px;
        height: 30px;
    }

    .header-nav {
        display: none;
    }
}