.main-nav-menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 70px;
}

.main-nav-menu a {
    font-size: 26px;
    margin-bottom: 35px;
    transition: .5s;
    width: fit-content;
}

.main-nav-menu a:hover {
    font-size: 36px;
    color: #F2BC79;
}

.main-window {
    display: flex;
    margin: 70px 0 0 35px;
}

@media screen and (max-width: 425px) {

    .main-nav-menu {
        display: none;
    }

    .main-window {
        margin-top: 40px;
    }
}