@font-face {
  font-family: Josefin;
  src: url("/src/fonts/JosefinSans-Regular.ttf");
}

@keyframes note {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}

body {
  background-color: #353535;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.note-enter-active {
  animation: note 1s ease-in reverse;
}

.note-exit-active {
  animation: note 1s ease-out forwards;
}