.InputForm {
    display: flex;
    align-items: center;
    height: 53px;
    width: auto;
}

.input-field {
    font-family: Josefin;
    font-size: 24px;
    width: 525px;
    height: 53px;
    background-color: white;
    border-radius: 38px;
    border: 1px solid white;
    padding-left: 20px;
    box-sizing: border-box;
    transition: .5s;
}

.add-task-btn {
    display: none;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #F2BC79;
    border: none;
    transition: .5s;
}

.add-task-btn:hover {
    background-color: #7fe95f;
}

.add-task-btn img {
    padding-top: 3px;
}

@media screen and (max-width: 425px) {
    .add-task-btn {
        display: block;
    }

    .input-field {
        width: 280px;
        margin-right: 27px;
    }
}