.greeting-msg {
    width: fit-content;
    margin: 0;
    margin: 35px 0 45px 0px;
    font-size: 41px;
    font-weight: 500;
}

p {
    font-size: 24px;
}

h1 {
    font-size: 24px;
}

.link {
    color: #F2BC79;

}

@media screen and (max-width: 425px) {
    .greeting-msg {
        font-size: 34px;
    }
}